.add_customer {

  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;

}

.boxHeader{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
  height: 110px;
  background-color: gold;
  overflow: hidden;
}

.add_customer img{
  position: absolute;
  width: 100%;
  transform: translate(0% ,7%);

}

.add_customer form {
  padding: 0.5cm;

}

.add_customer Input {
  padding: 0.1cm;
}
.add_customer p{
  color:white;
  z-index: 2;
  font-weight: bold;
  font-size: 1.2cm;
}

.add_customer label{
  font-weight: bold;
}




.add_customer button {
  margin-top: 0.25cm;
  padding-bottom: 15cm;

  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 16px;
  padding: 6px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background: #66a5f8;
  border: #66a5f8
}

.add_customer button:hover {
  cursor: pointer;
  background: #1e57a1
}

.add_customer bu:active {
  background: #1e57a1
}