.update_customer {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3cm;


}

.update_customer form {
    align-items: center;
    margin-top: 0.2cm;

}

.update_customer Input {
    padding: 0.1cm;
}

.update_customer label {
    margin-right: 0.2cm;
    margin-left: 0.2cm;
}





.update_customer button {
    margin-top: 0.25cm;
    padding-bottom: 15cm;

    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 16px;
    padding: 6px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background: #66a5f8;
    border: #66a5f8
}

.update_customer button:hover {
    cursor: pointer;
    background: #1e57a1
}

.update_customer bu:active {
    background: #1e57a1
}