.company_menu {
  position: absolute;
}

.company_menu ul {
  list-style: none;
}

.company_menu li {
  margin-bottom: 0.45cm;

}

.company_menu a {
  color: rgb(2, 0, 0);
  text-decoration: none;
}

.company_menu a:hover,
.company_menu a:active,
.company_menu a.active {
  color: #66a5f8;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #66a5f8;
}