.coupon {
  border-bottom: #556881 solid;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  width: 24.70cm;
  height: 1cm;
  border-radius: 12px;
  margin-top: -0.1cm;
  margin-bottom: 0.2cm;
}

.coupon_detailsOn {
  border-bottom: #556881 solid;
  background-color: #c8dbf4;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  width: 24.70cm;
  height: 4cm;
  border-radius: 12px;
  margin-top: -0.1cm;
  margin-bottom: 0.2cm;
}

.coupon_detailsOn_description {
  width: 9cm;
  height: 2cm;
  border-radius: 12px;
  border: rgb(144, 139, 139) solid;
  margin-top: 0.3cm;
  margin-right: 0.2cm;
  text-align: left;
  margin-left: 0.2cm;
}

.coupon_detailsOn_li_special {
  text-align: right;
  list-style: none;
  justify-content: left;
  display: flex;
  margin-top: 0.20cm;
}

.coupon_detailsOn_li {
  text-align: right;
  list-style: none;
  justify-content: left;
  display: flex;
  margin-top: 0.20cm;
}

.coupon_detailsOn_specialLi {
  text-align: left;
  list-style: none;
  justify-content: left;
  padding-right: 1cm;
  padding-left: 1.1cm;

}

.coupon_detailsOn p {
  font-weight: bold;
  padding-left: 0.3cm;
}

.coupon_detailsOn_li:hover,
.coupon_detailsOn_li:active,
.coupon_detailsOn_li.active {

  cursor: pointer;
  border-bottom: 3px solid #66a5f8;
  background-color: rgb(157, 233, 208);
  border-radius: 12px;
}

.coupon_detailsOn button {
  margin-top: 0.25cm;
  margin-left: 0.25cm;

  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 16px;
  padding: 6px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background: #66a5f8;
  border: #66a5f8
}

.coupon_detailsOn button:hover {
  cursor: pointer;
  background: #1e57a1
}

.coupon_detailsOn bu:active {
  background: #1e57a1
}


.coupon li {
  text-align: right;
  list-style: none;
  justify-content: left;
  display: flex;
  margin-top: 0.20cm;
}


.coupon_part {
  width: 5cm;
  height: 0.95cm;
  border-radius: 12px;
  border-top: rgb(144, 139, 139) solid;
  margin-top: -0.027cm;
  margin-right: 3cm;
  text-align: center;
}


.coupon li:hover,
.coupon li:active,
.coupon li.active {

  cursor: pointer;
  border-bottom: 3px solid #66a5f8;
  background-color: rgb(157, 233, 208);
  border-radius: 12px;
}


.coupon button {
  margin-top: 0.25cm;
  margin-left: 0.25cm;

  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 16px;
  padding: 6px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background: #66a5f8;
  border: #66a5f8
}

.coupon button:hover {
  cursor: pointer;
  background: #1e57a1
}

.coupon bu:active {
  background: #1e57a1
}