.home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}



.box{
     width: 100%;
    display: flex;
    border-bottom: ridge;
    border-color: black;
    border-width: 1px;

}
.box2{
    border-bottom: ridge;
    border-color: black;
    border-width: 1px;
    width: 100%;
    background-color: yellow;

}

.box4 {
    position: relative;
    box-sizing: border-box;
    display: flex;
    height: 410px;
    width: 100%;
    background-color: orange;
    
}

.boxMenu_in_box3{
    position: relative;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    height: 100%;
    width: 100%;
    background-color:orange ;
}



.boxMenu_in_box3 button{
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    height: 20%;
    background: rgba(20, 20, 20, 0.01);
    border: rgba(20, 20, 20, 0.01);
}

.img_box{
    position: relative;
    width: 150%;
}

.p1 {
    text-align: center;
    font-weight: bold;
    font-size: 10vh;
}



.p2{
    font-size: 0.5cm;
    text-align: center;
    left: 26px;
    font-weight: bold;
        
}

.p3 {
    bottom: 250px;
    text-align: center;
    font-size: 1cm;
    font-weight: bold;
}



.image1 {
    height: 100%;
    width: 50%;
    

}

.image_box3_first {
    position: absolute;
    height: 100%;
    z-index: 2;
}

.image_box3_category{
    position: absolute;
    height: 100%;
    z-index: 1;
}




.li1 {
    bottom: 70px;
    right: 100px;
    list-style: none;
    font-size: 1cm;
    font-weight: bold;
    color: black;
}

.li2 {
    text-align:start;
    bottom: 70px;
    right: 100px;
    list-style: none;
    font-size: 1cm;
    font-weight: bold;
    color: black;
}

